:root {
    /* color */
    --text-grey: #616161;
    --text-white: white;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/navbar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    text-decoration: none;
    color: var(--text-white);
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
/* Logo */

.navbar__Logo {
    display: flex;
    flex-direction: row;
}

.navbar__Logo--icon i {
    font-size: 5rem;
    padding-right: 20px;
}

.navbar__Text {
    text-decoration: none;
}
.navbar__Text span {
    display: flex;
    flex-direction: column;
    color: var(--text-white);
    align-items: center;
}
.navbar__Top--Text {
    font-size: 30px;
}

.navbar__Middle--Text,
.navbar__Bottom--Text {
    font-size: 20px;
}

/* Search */

.form__Control {
    width: 45rem;
    height: 3rem;
    border-radius: 20px;
    background-color: var(--text-grey);
    color: var(--text-white);
    border-width: 0;
}

.btn__Search {
    height: 3rem;
    width: 5rem;
    border-radius: 10px;
}

/* Menu */

ul {
    list-style: none;
}

.navbar__Menu {
    display: flex;
}

.navbar__Menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding-right: 2.5rem;
    padding: 8px 12px;
    cursor: default;
}

.navbar__Menu a:hover {
    display: inline-block;
    color: darkgrey;
    transform: rotate(-30deg) scale(1.1);
}
/* footer */

footer {
    display: flex;
    justify-content: space-between;
}

.Footer__Left p,
.Footer__info {
    color: var(--text-grey);
}

.Footer__Right {
    display: flex;
}

.Footer__Nav li {
    list-style: none;
}

.Footer__Nav a {
    color: var(--text-grey);
    text-decoration: none;
}

/* Footer_SNS */
.Footer__Sns ul {
    display: flex;
}

.Footer__Sns li {
    list-style: none;
}

.Footer__Sns i {
    color: var(--text-grey);
    text-decoration: none;
    font-size: 3rem;
    padding-right: 10px;
    cursor: default;
}
