<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head lang="ko">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{/css/login.css}" />
        <script type = text/javascript th:src="@{/js/bootstrap.js}"></script>
    </head>

    <title>Login</title>

    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" th:onclick="'location.href=\''+@{login}+'\''">LOGIN</button>
                    <button type="button" class="togglebtn" th:onclick="'location.href=\''+@{register}+'\''">REGISTER</button>
                </div>

                <div th:if="${param.error}" style="text-align: center; color: brown">입력 정보를 확인해주세요.</div>
                <div th:if="${param.logout}" style="text-align: center; color: skyblue">성공적으로 로그아웃되었습니다.</div>

                <form id="login" th:action="@{/account/login}" class="input-group" method="POST">
                    <input type="text" id="username" name="username" class="input-field" placeholder="Email" required />
                    <input type="password" id="password" name="password" class="input-field" placeholder="Password" required />
                    <button class="submit">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>
