<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base :: head(register)"> </head>
    <title>Login</title>

    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" th:onclick="'location.href=\''+@{login}+'\''">LOGIN</button>
                    <button type="button" class="togglebtn" th:onclick="'location.href=\''+@{register}+'\''">REGISTER</button>
                </div>
                <!--나중에 이미지 구해서 쓰겠습니다.-->
                <!-- <div class="social-icons">
                    <img src="img/fb.png" alt="facebook">
                    <img src="img/tw.png" alt="twitter">
                    <img src="img/gl.png" alt="google">
                </div> -->

                <form id="register" th:action="@{/account/register}" class="input-group" method="POST">
                    <input type="email" name="id" class="input-field" placeholder="Email" required />
                    <input type="text" name="username" class="input-field" placeholder="Email" required />
                    <input type="password" name="password" class="input-field" placeholder="Password" required />
                    <button class="submit">Register</button>
                </form>
            </div>
        </div>
    </body>
</html>
