<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/base :: head(account)"> </head>
    <title>Login</title>

    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" th:onclick="login()">LOGIN</button>
                    <button type="button" class="togglebtn" th:onclick="register()">REGISTER</button>
                </div>
                <!--나중에 이미지 구해서 쓰겠습니다.-->
                <!-- <div class="social-icons">
                    <img src="img/fb.png" alt="facebook">
                    <img src="img/tw.png" alt="twitter">
                    <img src="img/gl.png" alt="google">
                </div> -->
                <div th:if="${param.error}" style="text-align: center; color: brown">Invalid username and password</div>
                <div th:if="${param.logout}" style="text-align: center; color: blue">Logout!</div>

                <form id="login" th:action="@{/account}" class="input-group" method="POST">
                    <input type="text" id="username" name="username" class="input-field" placeholder="Email" required />
                    <input type="password" id="password" name="password" class="input-field" placeholder="Password" required />
                    <button class="submit">Login</button>
                </form>
                <form id="register" th:action="@{/account}" class="input-group" method="POST">
                    <input type="text" name="username" class="input-field" placeholder="Email" required />
                    <input type="email" name="username" class="input-field" placeholder="Email" required />
                    <input type="password" name="password" class="input-field" placeholder="Password" required />
                    <button class="submit">Register</button>
                </form>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/account.js}"></script>
    </body>
</html>
