<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="frags/base :: head('Welcome to Michelan!')"></head>

    <style>
        .boot {
            text-align: center;
            margin: 20% 15% 15% 10%;
        }
    </style>

    <body>
        <div class="boot">
            <p class="fs-1" style="color: black;">당신의 갤러리, Michelan</p>
            <a th:href = "login" class="btn btn-primary btn-lg" >로그인</a>
            <a th:href = "register" class="btn btn-secondary btn-lg">가입하기</a>
        </div>
    </body>
</html>
