<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)" lang="ko">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/bootstrap5.css}" />
    <link rel="stylesheet" th:href="|/css/${title}.css|" />
    <script type=text/javascript th:src="@{/js/bootstrap5.js}"></script>


</head>

<body>
    <div th:fragment="navbar">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
                <div class="container-fluid">
                    <img th:src="@{/img/logo.png}" style="width: 60px; height: 60px;">
                    <a class="navbar-brand" th:href="@{/}">MICHELAN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExample09">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" th:href="@{/main}">홈</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">갤러리</a>
                            </li>
                            <li class="nav-item">
                                <a sec:authorize="isAuthenticated()" class="nav-link" href="#">내 갤러리</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown"
                                    aria-expanded="false">메뉴</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown09">
                                    <li><a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/account/login}">로그인</a></li>
                                    <li><a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{/account/register}">회원가입</a></li>
                                    <!-- 로그인 했을시 -->
                                    <li>
                                        <a sec:authorize="isAuthenticated()">
                                            <form method="POST" th:action="@{/logout}">
                                                <button type="submit" class="dropdown-item">로그아웃</button>
                                            </form>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form>
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search" />
                        </form>
                        <button type="button" class="btn btn-light">Search</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- 모든페이지 완성했을시 푸터 오류나면 수정하겠습니다. -->
    <div th:fragment="foot">
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <h3>MICHELAN</h3>
                <span class="text-muted">
                    <p>MICHELAN's Homepage is powered by <span class="text-primary">KKLYM</span>/ Designed by<span
                            class="text-primary">KKLYM</span></p>
                </span>
            </div>
        </footer>
    </div>
</body>

</html>