<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)" lang="ko">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="|/css/${title}.css|" />
    </head>

    <title>Base</title>

    <body>
        <!-- 모든페이지 완성했을시 푸터 오류나면 수정하겠습니다. -->
        <div th:fragment="foot">
            <div class="jumbotron text-center mt-5 mb-0">
                <h3 class="text-secondary">MICHELAN</h3>
                <p>MICHELAN's Homepage is powered by <span class="text-primary">KKLYM</span>/ Designed by<span class="text-primary">KKLYM</span></p>
            </div>
        </div>
    </body>
</html>
